{% extends "base.html" %}
{% from "macros/breadcrumbs.html" import render_breadcrumbs %}
{% block title %}Ny kund - Familjekontor{% endblock %}
{% block breadcrumbs %}
{{ render_breadcrumbs([
    {'title': 'Start', 'url': url_for('dashboard.index')},
    {'title': 'Kunder', 'url': url_for('invoices.customers')},
    {'title': 'Ny'}
]) }}
{% endblock %}
{% block content %}
<h2>Ny kund</h2>
<div class="row"><div class="col-md-8"><div class="card"><div class="card-body">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row mb-3">
            <div class="col-md-6">{{ form.name.label(class="form-label") }}{{ form.name(class="form-control") }}</div>
            <div class="col-md-3">{{ form.org_number.label(class="form-label") }}{{ form.org_number(class="form-control") }}</div>
            <div class="col-md-3">{{ form.country.label(class="form-label") }}{{ form.country(class="form-select") }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">{{ form.vat_number.label(class="form-label") }}{{ form.vat_number(class="form-control") }}</div>
            <div class="col-md-4">{{ form.email.label(class="form-label") }}{{ form.email(class="form-control") }}</div>
            <div class="col-md-4">{{ form.payment_terms.label(class="form-label") }}{{ form.payment_terms(class="form-control") }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">{{ form.address.label(class="form-label") }}{{ form.address(class="form-control") }}</div>
            <div class="col-md-3">{{ form.postal_code.label(class="form-label") }}{{ form.postal_code(class="form-control") }}</div>
            <div class="col-md-3">{{ form.city.label(class="form-label") }}{{ form.city(class="form-control") }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">{{ form.default_currency.label(class="form-label") }}{{ form.default_currency(class="form-select") }}</div>
        </div>
        <div class="d-flex gap-2">{{ form.submit(class="btn btn-primary") }}<a href="{{ url_for('invoices.customers') }}" class="btn btn-secondary">Avbryt</a></div>
    </form>
</div></div></div></div>
{% endblock %}
