{% extends "base.html" %}
{% block title %}Logga in - PsalmGears{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center text-white" style="background-color:#926F34;">
                <h3 class="mb-0 py-1">PsalmGears</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control", autofocus=true) }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                    </div>
                    {{ form.submit(class="btn w-100", style="background-color:#926F34; border-color:#926F34; color:#fff;") }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
