{% extends "base.html" %}
{% from "macros/form_field.html" import render_field %}
{% block title %}{{ title }} - Familjekontor{% endblock %}
{% block content %}
<h2 class="mb-4">{{ title }}</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.bank_name, class="form-select") }}
                    {{ render_field(form.account_number) }}
                    {{ render_field(form.clearing_number) }}
                    {{ render_field(form.iban) }}
                    {{ render_field(form.currency, class="form-select") }}
                    {{ render_field(form.ledger_account) }}
                    {{ form.submit(class="btn btn-primary") }}
                    <a href="{{ url_for('bank.accounts') }}" class="btn btn-outline-secondary">Avbryt</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
